header
  h1 Archive of Notices

each day in days
  article
    h2 = format-moment day.date format='DD MMM YYYY'

    each notice in day.notices
        p = compile-markdown notice.text

if showLoad
  h3 click='loadNext' Load more...
