<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tsuiseki</title>
    <meta name="description" content="Tsuiseki allows you to track your progress in watching airing anime; be it from the premiere Japanese source or from Crunchyroll, FUNimation, DAISUKI, or other simulcast sites; and automatically update MyAnimeList, Hummingbird, and AniList!">
    <meta name="keywords" content="anime,list,animelist,airing,crunchyroll,funimation,season,simulcast,schedule">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.png" type="image/png" />

    {{content-for 'head'}}

    <link rel="stylesheet" href="/assets/vendor.css">
    <link rel="stylesheet" href="/assets/base.css">
    <link title="theme" rel="stylesheet">

    {{content-for 'head-footer'}}
  </head>
  <body>
    {{content-for 'body'}}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    </script>
    <script src="/assets/vendor.js"></script>
    <script src="/assets/aniboard.js"></script>

    {{content-for 'body-footer'}}
  </body>
</html>
