div.rec_tit {
  text-align: center;
  margin-top: 20px;

  h1 {
    display: inline-block;
    margin: auto;
    font-weight: 200;
    font-size: 28pt;
    color: $lighter-main;
    background: $dark-main;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    text-transform: capitalize;
  }
}

article.show:hover {
  .watched_info {
    top: 30%;
    opacity: 1;
  }
}
div.watched_info {
  position: absolute;
  //top: 0;
  //font-size: 17pt;
  //font-weight: 200;
  //width: 100%;
  //color: $lighter-main;
  //height: 0;
  //overflow: hidden;
  transition: height .5s;
  z-index: 2;
  //background: rgba(0,0,0,.7);
  color: $darker-main;
  width: 105%;
  //opacity: 0;
  display: flex;
  flex-direction: row;
  background: $lighter-main;
  //box-shadow: 0 0 2px 1px $box-shadow-color;
  left: -2.5%;
  //top: 30%;
  top: 0;
  opacity: 0;
  transition: .3s;
  border: 1px solid $box-shadow-color;
  box-sizing: border-box;

  .arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid $lighter-main;
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);

    &.arr-bot {
      top: -10px !important;
      border-bottom-color: $box-shadow-color !important;
    }
  }

  span {
    //vertical-align: middle;
  }

  /*&:after{
    background-color: $overlay-bg;
    opacity: $overlay-bg-op;
    z-index: -1;
  }*/
}
article.show:hover div.watched_info {
  //height: 141px;
}
.comment-text {
  word-wrap: break-word;
  word-break: break-word;
  //padding: 7px;
  //font-size: small;
  text-align: left;
  flex: 1;
  padding: 5px 10px;
  max-width: 190px;
}
.st-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.st-info {
  font-size: small;
  color: $light;
  padding: 5px 10px;
}
.st-score {
  height: 75px;
  width: 50px;
  text-align: center;
  font-size: 40px;
  display: table;
  margin: auto 0;

  span {
    vertical-align: middle;
    display: table-cell;
  }
}
.time_watched {
  //float: left;
  //margin-left: 5px;
  //position: absolute;
  //left: 5px;
  //bottom: 5px;
}
.ep_watched {
  //float: right;
  //margin-right: 5px;
  //position: absolute;
  //right: 5px;
  //bottom: 2px;
}
