* {
}

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, img, button {
  margin: 0;
  padding: 0;
}

input, textarea {
  background: $lighter-main;
}

/*[role="dialog"]:after, .edit_overlay:after, .watched_info:after, .over:after {
  content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}*/

a {
  color: inherit;
}

select {
  cursor: pointer;
}
form .error {
  font-size: small;
  //padding: 0 0 5px;
  margin: 0 0 7px !important;
  display: block;
}

button {
  border: none;

  &:hover {
    color: $lighter-main;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto';
  background: $light-main;
  color: $darker-main;
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  font-size: 15px;
  overflow-y: scroll;
  font-weight: 300;

  &.dialog-open {
    position: fixed;
  }
}

h2 {
  font-size: 19pt;
  font-weight: 500;
}

div.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@media (max-width: 400px) {
  main {
    //margin: 0 25px;
    padding: 0 25px !important;
  }
}
main {
  //min-height: 100%;
  //margin-bottom: -$footer-height;
  display: flex;
  flex: 1;
  //padding-top: 0;
  //margin: 0 50px;
  padding: 0 50px;

  /*&:after {
      content: "";
      display: block;
  }*/
  > * {
    @include transition(opacity 0.5s);
    flex: 1;

    &.hide {
      opacity: 0;
    }
  }
}

footer, main:after {
  //height: $footer-height;
}

footer {
  background: $lighter-main;
  color: $dark-main;
  display: table;
  width: 100%;

  p {
    //display: table-cell;
    //vertical-align: middle;
    text-align: center;
    font-size: small;
    padding: 20px 50px;

    &.shh {
      color: transparent;
    }
  }

  &:hover {
    p.shh {
      color: $dark-main;
    }
  }
}

#feedback_icon {
  display: table;
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid $lighter-main;
  color: $lighter-main;
  background: $red;
  font-size: 35px;
  //opacity: .6;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
  box-shadow: 0 0 0 1px $red;
  direction: rtl;
  //font-family: serif;
  box-sizing: border-box;

  & > span {
    display: table-row;
    vertical-align: middle;
    line-height: 1;
  }

  &:hover, &:focus {
    //opacity: 1;

    /*&:before {
      width: 100px;
      opacity: 1;
    }*/

    .feedback-arrow {
      //width: 100px;
      //opacity: 1;
      display: block;
    }
  }

  .feedback-arrow {
    background: $red;
    color: $lighter-main;
    //width: 0;
    //opacity: 0;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    font-weight: 300;
    padding: 5px 10px;
    //transition: .3s;
    display: none;
    white-space: nowrap;

    .arrow {
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid $red;
      right: -5px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
    }
  }

  /*&:before {
    content: 'Give feedback';
    //display: table-cell;
    overflow: hidden;
    width: 0;
    opacity: 0;
    background: $red;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    right: 35px;
    font-size: 10px;
    bottom: 10px;
    transition: .2s;
    white-space: nowrap;
    //vertical-align: middle;
  }*/
}

.splash {
  text-align: center;
  padding: 20px 0 20px;

  h1 {
    color: $dark-main;
    font-size: 72pt;
    text-transform: uppercase;
    font-weight: 400;
    line-height: .8;
    letter-spacing: -10px;
  }
  p {
    font-size: 16pt;
  }
}
