.week_list {
  .empty {
    display: none;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 100px;
    vertical-align: middle;
    font-size: 18pt;
    font-weight: 300;

    a {
      color: blue;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
